/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * league-gothic:
 *   - http://typekit.com/eulas/000000000000000000014689
 * league-gothic-condensed:
 *   - http://typekit.com/eulas/00000000000000000001468b
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-03-17 08:54:04 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=foa4qhi&ht=tk&f=1344.17458&a=71546589&app=typekit&e=css");

@font-face {
font-family:"league-gothic";
src:url("https://use.typekit.net/af/65a1f5/000000000000000000014689/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/65a1f5/000000000000000000014689/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/65a1f5/000000000000000000014689/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"league-gothic-condensed";
src:url("https://use.typekit.net/af/7cc2ed/00000000000000000001468b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/7cc2ed/00000000000000000001468b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/7cc2ed/00000000000000000001468b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

.tk-league-gothic { font-family: "league-gothic",sans-serif; }
.tk-league-gothic-condensed { font-family: "league-gothic-condensed",sans-serif; }